html {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}


/* Redimensión de fuente utilizando rem */

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 0%;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}


/* clases predefinidas */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column3 {
    width: 33.33%;
    float: left;
}

.column4 {
    width: 25%;
    float: left;
}

header {
    height: 100vh;
    background-image: url(../img/Turtle.jpg);
    background-size: cover;
    background-position: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card1 {
    background-image: url(../img/Space1.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

#card2 {
    background-image: url(../img/Stairs.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

#card3 {
    background-image: url(../img/Clot.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

#card4 {
    background-image: url(../img/Koala.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

#article {
    background-color: lightgrey;
}

#pic1 {
    background-image: url(../img/Deer.jpg);
    background-size: cover;
    height: 60vh;
    background-position: center;
}

#pic2 {
    background-image: url(../img/Koala.jpg);
    background-size: cover;
    height: 60vh;
    background-position: center;
}

#pic3 {
    background-image: url(../img/Snuffy.jpg);
    background-size: cover;
    height: 60vh;
    background-position: center;
}

#pic4 {
    background-image: url(../img/Zen.jpg);
    background-size: cover;
    height: 60vh;
    background-position: center;
}

.padding-s {
    padding: 2%;
}

#prefooter {
    background-color: rgb(41, 41, 41);
    color: white;
}

footer {
    background-color: black;
    color: white;
    margin: 0%;
}


/* Otras clases */

@media only screen and (max-width: 600px) {
    .column3 {
        width: 100%;
    }
    .column4 {
        width: 50%;
    }
}